---
layout: post
title: Doing
---

<style>
    #content ul#doing li span.error {
        background: #D50000;
    }
</style>

<ul id="doing">
    {% for item in site.data.doing %}
    <li>
        <div class="tail"></div>
        <div class="head"></div>
        <div class="content">
            <h3>{{item.title}}</h3>
            <ul class="item">
                {% for subitem in item.content %}
                <li><span class="tag {{subitem.class}}">{{subitem.type}}</span> {{subitem.text}}</li>
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endfor %}
</ul>