---
layout: default
title: 无网不剩
---

<div id="content" class="index">

	<p class="nav">POSTS</p>
	<ul class="posts">
		{% for post in site.categories.blog %}
		<li><p class="date">{{ post.date | date:"%Y-%m-%d" }}</p> <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>

	<p class="nav">TRANSLATES</p>
	<ul class="posts">
		{% for post in site.categories.translate %}
		<li><p class="date">{{ post.date | date:"%Y-%m-%d" }}</p> <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>

	<p class="nav">MOVIES</p>
	<ul class="posts">
		{% for post in site.categories.movie %}
		<li><p class="date">{{ post.date | date:"%Y-%m-%d" }}</p> <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>

	<p class="nav">OS PROJECTS</p>
	<ul class="posts">
		{% for post in site.categories.project %}
		<li><p class="date">{{ post.date | date:"%Y-%m-%d" }}</p> <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>

</div>
