<div id="footer">
	<div id="feed">
		<div class="badget" id="github">
			<a href="http://github.com/lzyy">
			<span class="service">github</span>
			<span class="info">200+</span>
			</a>
		</div>
		<div class="badget" id="twt">
			<a href="http://twitter.com/lzyy">
			<span class="service">twitter</span>
			<span class="info">800+</span>
			</a>
		</div>
		<div class="badget" id="feedburner">
			<a href="http://feeds.feedburner.com/lzyy">
			<span class="service">rss</span>
			<span class="info">1000+</span>
			</a>
		</div>
	</div>
	<span style="color:#bbb;font-size:12px">make the world a little better and easier</span>
	<p style="clear:both"></p>
</div>

