<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>无网不剩</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
		<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/lzyy">
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-1281124-20']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>

	<body>
		<div id="logo">
			<span id="tags"> 编程 / 思考 / 阅读 / 苹果 / 生活 </span>
			<h1><a href="/">无网不剩</a></h1></div>
		<div id="wrapper">
			<div id="content" class="index">
				<div id="sidebar">
					<ul>
						<li>
							<a href="#">ARTICLES</a>
							<ul>
								{% for category in site.categories %}
								<li><a href="/{{ category[0]  }}.html"> {{ category[0]  }}</a></li>
								{% endfor %}
							</ul>
						</li>
						<li><a href="/quotes.html">QUOTES</a></li>
						<li><a href="/projects.html">PROJECTS</a></li>
						<li><a href="/about.html">ABOUT</a></li>
						<!--<li><a href="http://leezhong.com/resume/">RESUME</a></li>-->
						<!--<li><a href="/links.html">LINKS</a></li>-->
						<li><a href="/contact.html">CONTACT</a></li>
					</ul>
				</div>
				
				<div id="main">
				{{ content }}
				</div>

				<div id="footer">
					<div id="feed">
						<div class="badget" id="github">
							<a href="http://github.com/lzyy">
							<span class="service">github</span>
							<span class="info"> </span>
							</a>
						</div>
						<div class="badget" id="twt">
							<a href="http://twitter.com/lzyy">
							<span class="service">twitter</span>
							<span class="info">600+</span>
							</a>
						</div>
						<div class="badget" id="feedburner">
							<a href="http://feeds.feedburner.com/lzyy">
							<span class="service">rss</span>
							<span class="info"> </span>
							</a>
						</div>
					</div>
					<span style="color:#bbb;font-size:12px">make the world a little better and easier</span>
					<p style="clear:both"></p>
				</div>

				<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>

<script type="text/javascript">
	jQuery.cookie = function (key, value, options) {
    
    // key and at least value given, set cookie...
    if (arguments.length > 1 && String(value) !== "[object Object]") {
        options = jQuery.extend({}, options);

        if (value === null || value === undefined) {
            options.expires = -1;
        }

        if (typeof options.expires === 'number') {
            var days = options.expires, t = options.expires = new Date();
            t.setDate(t.getDate() + days);
        }
        
        value = String(value);
        
        return (document.cookie = [
            encodeURIComponent(key), '=',
            options.raw ? value : encodeURIComponent(value),
            options.expires ? '; expires=' + options.expires.toUTCString() : '', // use expires attribute, max-age is not supported by IE
            options.path ? '; path=' + options.path : '',
            options.domain ? '; domain=' + options.domain : '',
            options.secure ? '; secure' : ''
        ].join(''));
    }

    // key and possibly options given, get cookie...
    options = value || {};
    var result, decode = options.raw ? function (s) { return s; } : decodeURIComponent;
    return (result = new RegExp('(?:^|; )' + encodeURIComponent(key) + '=([^;]*)').exec(document.cookie)) ? decode(result[1]) : null;
};

if(!$.cookie('badget-github'))
{
	url = 'https://api.github.com/legacy/user/search/lzyy';
	$.getJSON(url+"?callback=?", function(data){
		//var text = data['users'][0]['public_repo_count'] + ' / ' + data['user']['followers_count'];
		var text = data['data']['users'][0]['followers_count'];
		$('#github').find('.info').text(text);
		$.cookie('badget-github', text, {expires: 7} );
	});
}
else
{
	$('#github').find('.info').text($.cookie('badget-github'));
}

if(!$.cookie('badget-feedburner'))
{
	url = 'http://leezhong.com/util/proxy/feedburner.php';
	$.getJSON(url+"?callback=?", function(data){
		$('#feedburner').find('.info').text(data['count']);
		$.cookie('badget-feedburner', data['count'], {expires: 7} );
	});
}
else
{
	$('#feedburner').find('.info').text($.cookie('badget-feedburner'));
}
</script>
					
	</body>
</html>

