<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>{{ page.title }} - 无网不剩</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>

	<body>
		<div id="wrapper">
			<div id="header">
				<h1><a href="/">无网不剩</a></h1>
				<ul>
					<li><a href="/about.html">About</a></li>
					<li><a href="/link.html">Link</a></li>
					<li><a href="http://wiki.leezhong.com">Wiki</a></li>
					<li><a href="http://twitter.com">Twitter</a></li>
				</ul>
			</div>
			<br />
			{{ content }}
			<div id="footer">
				<a id="feed" href="http://feeds.feedburner.com/lzyy"><img src="image/feed.png"></a></a>
				<hr />
			</div>
		</div>
		<!--
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		-->
	</body>
</html>

