<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>无网不剩</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-1281124-20']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>

	<body>
		<div id="wrapper">
			<div id="header">
				<h1><a href="/">无网不剩</a></h1>
				<!--
				<ul>
					<li><a href="/about.html">About</a></li>
					<li><a href="http://twitter.com">Twitter →</a></li>
				</ul>
				-->
			</div>
			<br />
			<p class="nav">POSTS</p>
			{{ content }}

			<br />
			<p class="nav">QUOTES</p>
			<ul>
				<li>whatever excites you, go do it; whatever scares you, go do it.<span style="color:#999"> - Derek Sivers</span></li>
				<li>make everything as simple as possible, but not simpler.<span style="color:#999"> - Albert Einstein</span></li>
			</ul>

			<p class="nav">CURRENT PROJECTS</p>
			<ul>
				<li><a href="http://xingzher.com">行者</a> <span style="color:#999">- 专为驴友打造的旅行社区</span></li>
			</ul>

			<p class="nav">PREVIOUS PROJECTS</p>
			<ul>
				<li><a href="http://www.yiyimama.com">1亿妈妈</a> <span style="color:#999">- 1亿妈妈改变孩子的未来</span></li>
				<li><a href="http://blog.f508.com/">芬理希梦官方博客</a> <span style="color:#999">- 日本最佳原创设计品牌</span></li>
				<li><a href="http://code.google.com/p/intext/downloads/list">intext</a> <span style="color:#999">- 一款简洁易用的wordpress主题 (<a href="http://www.alidba.net/">demo</a>)</span></li>
			</ul>

			<p class="nav">ABOUT</p>
			<div>
				84年生人，大学时误入网途，沉迷至今 <br />
				07年毕业于大连理工大学，在大二时参加了国际马拉松，并跑完全程<br />
				擅长web开发，常有各种想法，并付诸实践<br />
				曾就职于时光网，现就职于凤凰网，从事公司内部框架开发<br />
				早年曾混迹于经典论坛，担任过Flash版版主<br />
				常用利器：php/nginx/mysql/ubuntu/python/jquery<br />
			</div>

			<p class="nav">LINKS</p>
			<div>
				<a href="http://github.com/lzyy">github</a><span style="color:#999"> / </span>
				<a href="http://twitter.com/lzyy">twitter</a>
			</div>

			<p class="nav">CONTACT</p>
			<div>healdream#gmail.com</div>

			<div id="footer">
				<a id="feed" href="http://feeds.feedburner.com/lzyy"><img src="/image/feed.png"></a></a>
				<span style="color:#aaa">make the world a little better and eaiser</span>
				<hr />
			</div>
		</div>
		<!--
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		-->
	</body>
</html>

