<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  {% include header.html %}

  <body>
    {% include header_nav.html %}
    <div class="wrapper main">
      <blockquote id="intro">
        <p>
          一个程序员、设计师、创作者，钟爱精良的产品，闲暇时喜欢翻看各类书籍，偶尔也会写点文章。
        </p>
        <br />
        <p>
          之前在花瓣网负责移动端开发，后来到蘑菇街负责移动端基础技术支撑，现处于自由状态。
        </p>
        <br />
        <p>
          也可以关注我的微信公众号：limboy，来获取最新文章。
        </p>
        <br />
        <p>
          <a href="http://twitter.com/lzyy" target="_blank">Tweets</a> ·
          <a href="http://github.com/lzyy" target="_blank">Github</a>
          <!--<a
            href="https://www.youtube.com/playlist?list=LLjXd0C_U7O2Y-rAMBfXHLdQ"
            target="_blank"
            >YouTube</a
            >-->
          <!--<a href="https://github.com/wubba-lubba-dub-dub" target="_blank"
            >Share and Discuss</a
          > -->
          <!--
            <a href="https://www.instagram.com/limboy84/" target="_blank">Instagram</a>
          -->
        </p>
      </blockquote>

      <div id="content" class="index">
        <div id="main">{{ content }}</div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
