<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	{% include header.html %}
	<body>
		{% include header_nav.html %}
		<div class="wrapper main">
			<blockquote id="intro">
				<p>limboy, 一个程序员、设计师、创作者，钟爱精良的产品，闲暇时喜欢翻看各类书籍，偶尔也会写点文章。目前就职于蘑菇街，主要负责无线基础相关的事情。</p>
				<br />
				<p>现住杭州，偶尔会去 <a href="http://twitter.com/lzyy" target="_blank">Twitter</a> 唠叨两句，项目托管在 <a target="_blank" href="http://github.com/lzyy">Github</a>，在 <a href="/doing.html">这里</a> 更新最近做的事，读过觉得还不错的文章会记录在 <a href="https://www.instapaper.com/p/limboy" target="_blank">这里</a>。</p>
			</blockquote>
		
			<div id="content" class="index">
				<div id="main">
				{{ content }}
				</div>
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>

